<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>RecuperarContrasena</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <h1>Recuperar contraseña </h1>
    <h5>A continuación ingrese el usuario con el que se registro</h5>
    <ion-input label="Usuario" label-placement="floating" fill="outline" placeholder="Ingrese usuario"></ion-input>
    <br>
    <ion-button class="btn-login" expand="block">Recuperar</ion-button>
    <br>
  </div>
</ion-content>
